@import 'tailwindcss';

/* scrollbar-y-css */
.scrollbar-custom {
  scrollbar-width: thin;
  scrollbar-color: black transparent;
}

.scrollbar-custom::-webkit-scrollbar {
  width: 8px;
}

.scrollbar-custom::-webkit-scrollbar-track {
  background: transparent;
}

.scrollbar-custom::-webkit-scrollbar-thumb {
  background-color: black;
  border-radius: 10px;
}
